{% ckan_extends %}
      {% block package_basic_fields_tags %}
{{ form.select('tag_string', label=_('Type'), options=[{"text": _("API"), "value": "api"},
                {"text": _("Application"), "value": "application"},
                {"text": _("Idea"), "value": "idea"},
                {"text": _("Map Viewer"), "value": "map viewer"},
                {"text": _("News Article"), "value": "news article"},
                {"text": _("Paper"), "value": "paper"},
                {"text": _("Post"), "value": "post"},
                {"text": _("Visualization"), "value": "visualization"}], selected=data.tag_string, error=errors.tags) }}
{% endblock %}
{% block metadata_fields %}
    {{ super() }}
    {% block package_metadata_date_created %}
    {% set dc = h.get_pkg_dict_extra(data, 'date_created') %}
    {% if dc %}
      {% set dc = dc.split().0 %}
    {% endif %}
      {{ form.input('date_created', label=_('Date Created'), type='date', placeholder='yyyy-mm-dd(current date if empty)', value=dc, error=errors.date_created, classes=['control-medium']) }}
    {% endblock %}
{% endblock %}