{% ckan_extends %}

    {% block link %}
      {% if package.extras %}
        {% set dc = h.get_pkg_dict_extra(package, 'date_created') %}
        {% if dc %}
          {% set dc = h.date_str_to_datetime(dc) %}
          <br><strong>
          {{ _('Date Created') }}: {{ '{0:0>2}'.format(dc.day) }}-{{ '{0:0>2}'.format(dc.month) }}-{{ '{0:0>4}'.format(dc.year) }}
          </strong>
        {% endif %}
      {% endif %}

      <a href="{{ h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=package.name) }}" title="{{ _('View {showcase_title}').format(showcase_title=package.title) }}" class="media-view">
        <span>{{ _('View {showcase_title}').format(showcase_title=package.title) }}</span>
{% if package.tags %}
<span class="banner">{{h.map_showcase_type(package.tags)}}</span>
{% endif %}
      </a>
    {% endblock %}