{% ckan_extends %}
{% block page_primary_action %}<a name="main_content" id="main_content" tabindex="-1"></a>{{ super() }}{% endblock %}

{% block custom_breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('user_dashboard_organizations') }}">{{ _('My Organizations') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Organizations') }}</h2>
  {% set organizations = h.organizations_available(permission='read') %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any organizations.') }}
      {% if h.check_access('organization_create') %}
        {% link_for _('Create one now?'), controller='organization', action='new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}