{% ckan_extends %}
    {% block meta %}
      {{ super() }}
      <meta name="google-site-verification" content="B8scmW2_LMm4IW_ogXK9lojznO57GBpYlWrFjfGz3X8" />
<meta name="twitter:site" content="@datagovau" />
<meta name="og:site_name" content="data.gov.au" />
    {% endblock %}

    {% block styles %}
      {{ super() }}
      {% resource 'ckanext-datagovau/css/datagovau.css' %}
    {% endblock %}

    {% block scripts %}
    {{ super() }}
	<script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
<script>
Raven.config('https://b456c7ab8f784b569ce32faa04eb238e@sentry.system.data.gov.au/4').install()
</script>
    {% resource 'ckanext-datagovau/js/datagovau.js' %}
    {% endblock %}
