{% ckan extends %}
{% block secondary_content %}
<section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-bar-chart icon-medium"></i> {{ _('Statistics Menu') }}</h2>
    <nav data-module="stats-nav">
        <ul class="unstyled nav nav-simple">
            <li class="nav-item"><a href="/site-usage">{{ _('Site Analytics') }}</a></li>
            <li class="nav-item active"><a href="#stats-total-datasets" data-toggle="tab">{{ _('Total Number of
                Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-dataset-revisions" data-toggle="tab">{{ _('Dataset Revisions per Week')
                }}</a></li>
            <li class="nav-item"><a href="#stats-top-rated" data-toggle="tab">{{ _('Top Rated Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-most-edited" data-toggle="tab">{{ _('Most Edited Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-largest-groups" data-toggle="tab">{{ _('Largest Groups') }}</a></li>
            <li class="nav-item"><a href="#stats-top-tags" data-toggle="tab">{{ _('Top Tags') }}</a></li>
            <li class="nav-item"><a href="#stats-most-create" data-toggle="tab">{{ _('Users Creating Most Datasets')
                }}</a></li>
        </ul>
    </nav>
</section>
{% endblock %}